@media (max-width: 900px) {
  .first-page__main {
    padding-top: 1.3333333333%;
    grid-template-columns: 100%;
    grid-template-rows: 39% 60%;
    row-gap: 10px;
    height: 88.3333333333%;
    min-height: 810px;
  }
  .first-page__main .first-page__main-inner {
    grid-template-rows: 5% 55% 25%;
    padding-top: 3.3333333333%;
    justify-items: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-upper {
    width: 100%;
    text-align: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-title {
    width: 100%;
    text-align: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-sub {
    text-align: center;
    justify-self: center;
  }
  .first-page__main-inner-img {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    min-height: 510px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst {
    background: url(./img/BG_man.jpg) no-repeat;
    background-position: center;
    position: relative;
    border-radius: 30px;
    width: 72.2222222222%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
    padding-left: 5px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
    width: 22px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    background: url(./img/BG_woman.jpg) no-repeat;
    background-position: center;
    border-radius: 30px;
    position: relative;
    margin: 0;
    width: 91.1111111111%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
    padding-left: 5px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
    width: 41px;
  }
  .header__menu-logo {
    display: grid;
    grid-template-columns: 35% 55%;
    width: 50%;
    align-items: center;
    justify-content: end;
  }
  .header__menu-logo .header__menu-list .header__menu-item-link {
    font-size: 10px;
  }
  .header__menu-list-socials {
    width: 45%;
    grid-template-columns: 10% 10% 10% 60%;
  }
  .footer__main {
    height: 240px;
    min-height: 20%;
    grid-template-columns: 24% 35% 39%;
  }
  .footer__main .footer__socials {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 15% 15%;
  }
  .footer__main .footer__socials .footer__join-text {
    font-size: 15px;
  }
  .footer__main .footer__new-reg {
    grid-template-rows: 25% 30% 30%;
  }
  .footer__main .footer__new-reg .footer__new-reg-title {
    font-size: 25px;
    line-height: 25px;
  }
  .footer__main .footer__new-reg .footer__new-reg-sub {
    font-size: 15px;
    line-height: 15px;
  }
  .footer__links .footer__links-list {
    grid-template-rows: 25% 13% 13% 13%;
  }
  .footer__links .footer__links-list .footer__links-item .footer__links-item-link {
    font-size: 12px;
    line-height: 12px;
  }
  .footer__links .footer__links-list .footer__links-item:first-child {
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  .footer__main {
    grid-template-columns: 20% 25% 40%;
    justify-content: space-between;
    width: 100%;
  }
  .footer__main .footer__new-reg {
    grid-template-columns: 100%;
    grid-template-rows: 22% 55%;
  }
  .footer__main .footer__new-reg .footer__new-reg-sub {
    display: none;
  }
  .footer__main .footer__new-reg .footer__new-reg-mail {
    display: grid;
    grid-template-rows: 41% 41%;
    row-gap: 10px;
  }
  .footer__main .footer__new-reg .footer__new-reg-mail button {
    width: 80%;
  }
  .footer__main .footer__new-reg .footer__new-reg-mail input {
    width: 80%;
  }
  .footer__main .footer__socials .footer__join-text {
    display: none;
  }
}
@media (max-width: 600px) {
  .first-page__main-inner-img {
    grid-template-columns: 50% 50%;
    -moz-column-gap: 20px;
         column-gap: 20px;
    min-height: 400px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
    left: 0;
    top: 0;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
    left: 0;
    top: 0;
  }
  .header__menu-list-socials {
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
  }
  .header__menu-list-socials .header__menu-button-inner {
    display: none;
  }
  .header__menu-logo {
    width: 90%;
    align-items: center;
    justify-content: end;
  }
  .header__menu-logo .header__menu-list .header__menu-item-link {
    font-size: 10px;
  }
  .first-page__main {
    padding-top: 1.3333333333%;
    grid-template-columns: 100%;
    grid-template-rows: 44% 56%;
    row-gap: 10px;
  }
  .first-page__main .first-page__main-inner {
    grid-template-rows: 5% 55% 25%;
    padding-top: 3.3333333333%;
    justify-items: center;
    min-height: 220px;
  }
  .first-page__main .first-page__main-inner .first-page__main-upper {
    width: 100%;
    text-align: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-title {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-sub {
    font-size: 12px;
    text-align: center;
    justify-self: center;
  }
  .footer__main {
    grid-template-columns: 100%;
    grid-template-rows: 31% 26% 38%;
  }
  .footer__main .footer__socials {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: none;
    justify-items: end;
    align-items: center;
  }
  .footer__links .footer__links-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    width: 100%;
    justify-items: center;
    padding-top: 5px;
  }
  .footer__links {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  .footer__main .footer__new-reg .footer__new-reg-title {
    display: none;
  }
  .footer__main .footer__new-reg {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    row-gap: 10px;
    justify-items: center;
  }
  .footer__main .footer__new-reg .footer__new-reg-mail {
    padding-top: 10px;
    display: grid;
    grid-template-rows: 44% 45%;
    row-gap: 10px;
    grid-template-columns: 100%;
  }
  .footer__author .footer__author-name span {
    font-size: 10px;
    line-height: 10px;
  }
  .footer__author .footer__author-produced {
    font-size: 10px;
    line-height: 10px;
  }
}
@media (max-width: 450px) {
  .header__menu-list-socials {
    display: none;
  }
  .first-page__main-inner-img {
    grid-template-columns: 100%;
    row-gap: 20px;
    min-height: 300px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst {
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
    display: none;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
    display: none;
  }
  .first-page__main {
    padding-top: 1.3333333333%;
    grid-template-columns: 100%;
    grid-template-rows: 31% 67%;
    row-gap: 10px;
    min-height: 600px;
  }
}
@media (max-width: 370px) {
  .first-page__main .first-page__main-inner .first-page__main-title {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 410px) {
  .footer__author {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90%;
    margin-bottom: 47px;
    align-items: center;
  }
}/*# sourceMappingURL=media.css.map */