@media (max-width: 1000px) {
	.artists__names-description {
		padding-top: calc(50 / 1200 * 100%);
		padding-left: 5px;
		max-width: 50%;
	}

	.artists__names-prof-title-second {
		margin-bottom: 3%;
	}

	.artists__names-description-second {
		padding-top: 12%;
		width: 50%;
	}
}

@media (max-width: 900px) {
	%font {
		font-family: "Outfit";
		font-style: normal;
		font-weight: 400;
	}

	.first-page__main {
		flex-wrap: wrap;
		height: 800px;
		justify-content: center;
	}

	.first-page__main-inner-img {
		min-width: 48%;
	}
	.first-page__main .first-page__main-inner {
		width: 90%;
		text-align: center;
		margin-right: 0;
	}
	.first-page__main-inner-img {
		width: 90%;
		height: 430px;
	}
	.first-page__main-inner-img .first-page__main-imgfirst {
		background-size: cover;
		width: calc(325 / (1200 * 0.9) * 100%);
	}
	.first-page__main-inner-img .first-page__main-imgfirst-woman {
		background-size: cover;
		width: calc(410 / (1200 * 0.9) * 100%);
		height: calc(410 / 510 * 100%);
	}
	.first-page__main .first-page__main-inner .first-page__main-upper {
		padding-top: 5%;
	}
	.header__menu-logo {
		display: grid;
		grid-template-columns: 35% 55%;
		width: 50%;
		align-items: center;
		justify-content: end;
		.header__menu-list {
			.header__menu-item-link {
				font-size: 10px;
			}
		}
	}

	.header__menu-list-socials {
		width: 45%;
		grid-template-columns: 10% 10% 10% 60%;
	}
}

@media (max-width: 950px) {
	.footer__main .footer__new-reg {
		width: 45%;
	}
	.footer__links {
		width: 25%;
	}
	.footer__main .footer__new-reg .footer__new-reg-mail button {
		width: 30%;
	}
}

@media (max-width: 750px) {
	.first-page__main-inner-img
		.first-page__main-imgfirst
		.first-page__main-imgfirst-inner {
		top: 10%;
		left: 73%;
	}
	.first-page__main-inner-img
		.first-page__main-imgfirst-woman
		.first-page__main-imgfirst-inner {
		top: 10%;
		left: 55%;
	}
	.first-page__main .first-page__main-inner .first-page__main-title {
		font-size: 40px;
	}
	.page-first__footer {
		background-size: cover;
		height: 80px;
	}
}

@media (max-width: 750px) {
	.footer__main {
		flex-flow: column-reverse;
		align-items: center;
	}
	.footer__main .footer__new-reg {
		width: 90%;
		height: 150px;
		align-content: space-between;

		* {
			text-align: center;
		}
	}
	.footer__links {
		width: 90%;
		text-align: center;
	}
	.footer__main .footer__socials {
		padding-top: 10px;
		align-items: center;
	}

	.footer__author {
		flex-flow: column;
	}
	.features_container {
		flex-flow: column-reverse;
		align-items: center;
		max-height: none;
	}

	.features_container .features__visual,
	.features_container .features__main-list {
		width: 90%;
	}
}

@media (max-width: 430px) {
	.first-page__main-inner-img .first-page__main-imgfirst {
		top: 0;
		right: 0;
		background-size: contain;
		background-position: center;
		min-width: 95%;
	}
	.first-page__main-inner-img .first-page__main-imgfirst-woman {
		right: 0;
		bottom: 0;
		background-size: cover;
		left: 5%;
		min-width: 95%;
		height: 75%;
	}

	.first-page__main {
		min-width: 320px;
	}
}

@media (max-width: 750px) {
	.artists_flex-wrap {
		flex-wrap: nowrap;
		flex-flow: column;
		align-items: center;
	}
	.artists_flex-wrap .artists__names-list {
		width: 90%;
	}
	.artists__names-description {
		max-width: 90%;
		width: 90%;
		text-align: center;
	}
	._artists__names__second {
		padding-top: 5%;
		padding-right: 0;
		width: 90%;
	}
	.artists__names-description-second {
		padding-top: 5%;
		width: 90%;
		text-align: center;
	}
	.artists__names-main-second {
		margin-bottom: 3%;
	}
	.artists__names-item-link {
		display: flex;
		justify-content: center;
	}
	.artists__names-item-button-second {
		text-align: center;
		width: 80%;
	}
}

@media (max-width: 780px) {
}

@media (max-width: 600px) {
	.header__menu-list-socials {
		grid-template-columns: 30% 30% 30%;
		justify-items: center;
		.header__menu-button-inner {
			display: none;
		}
	}
	.header__menu-logo {
		width: 90%;
		align-items: center;
		justify-content: end;
		.header__menu-list {
			.header__menu-item-link {
				font-size: 10px;
			}
		}
	}
}

@media (max-width: 450px) {
	.header__menu-list-socials {
		display: none;
	}

	@media (max-width: 380px) {
		.first-page__main {
			.first-page__main-inner {
				.first-page__main-title {
					font-size: 30px;
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 410px) {
}
