@media (max-width: 1000px) {
	.artists__names-description {
		padding-top: calc(50 / 1200 * 100%);
		padding-left: 5px;
		max-width: 50%;
	}

	.artists__names-prof-title-second {
		margin-bottom: 3%;
	}

	.artists__names-description-second {
		padding-top: 12%;
		width: 50%;
	}
}

@media (max-width: 900px) {
	%font {
		font-family: "Outfit";
		font-style: normal;
		font-weight: 400;
	}

	.first-page__main {
		flex-wrap: wrap;
		height: 800px;
		justify-content: center;
	}

	.first-page__main-inner-img {
		width: 90%;
	}
	.first-page__main .first-page__main-inner {
		width: 100%;
		text-align: center;
		margin-right: 0;
	}

	.first-page__main-inner-img .first-page__main-imgfirst {
		width: calc(325 / (1200 * 0.9) * 100%);
	}
	.first-page__main-inner-img .first-page__main-imgfirst-woman {
		width: calc(410 / (1200 * 0.75) * 100%);
	}
	.first-page__main .first-page__main-inner .first-page__main-upper {
		padding-top: 5%;
	}
	.header__menu-logo {
		display: grid;
		grid-template-columns: 35% 55%;
		width: 50%;
		align-items: center;
		justify-content: end;
	}

	.header__menu-list-socials {
		width: 45%;
		grid-template-columns: 10% 10% 10% 60%;
	}

	.discovery__top-list .discovery__top-list-wrap-list {
		&:nth-child(3) {
			margin-right: 38px;
		}
		&:nth-child(4) {
			margin-right: 0;
		}
		&:nth-child(2) {
			margin-right: 0;
		}
	}
}

@media (max-width: 950px) {
	.footer__main .footer__new-reg {
		width: 45%;
	}
	.footer__links {
		width: 25%;
	}
	.footer__main .footer__new-reg .footer__new-reg-mail button {
		width: 30%;
	}
}

@media (max-width: 750px) {
	.first-page__main-inner-img
		.first-page__main-imgfirst
		.first-page__main-imgfirst-inner {
		top: 10%;
		left: 85%;
	}
	.first-page__main-inner-img
		.first-page__main-imgfirst-woman
		.first-page__main-imgfirst-inner {
		top: 6%;
		left: 70%;
	}

	.footer__main {
		flex-flow: column-reverse;
		align-items: center;
	}
	.footer__main .footer__new-reg {
		width: 90%;
		height: 150px;
		align-content: space-between;

		* {
			text-align: center;
		}
	}
	.footer__links {
		width: 90%;
		text-align: center;
	}
	.footer__main .footer__socials {
		padding-top: 10px;
		align-items: center;
	}

	.footer__author {
		flex-flow: column;
	}
	.features_container {
		flex-flow: column-reverse;
		align-items: center;
		max-height: none;
		:nth-child(2) {
			margin-bottom: 10px;
		}
	}

	.features_container .features__visual,
	.features_container .features__main-list {
		width: 90%;
	}
}

@media (max-width: 430px) {
	.first-page__main-inner-img .first-page__main-imgfirst {
		top: 0;
		left: 10%;
		min-width: 80%;
		height: 50%;
	}
	.first-page__main-inner-img .first-page__main-imgfirst-woman {
		bottom: 0;
		left: 15%;
		min-width: 80%;
		height: 60%;
	}

	.first-page__main {
		min-width: 320px;
	}
	.first-page__main-inner-img {
		width: 100%;
	}
	.first-page__main-inner-img
		.first-page__main-imgfirst
		.first-page__main-imgfirst-inner {
		top: 10%;
		left: 0;
	}
	.first-page__main-inner-img
		.first-page__main-imgfirst-woman
		.first-page__main-imgfirst-inner {
		left: 20%;
		top: 80%;
	}
}

@media (max-width: 750px) {
	.artists_flex-wrap,
	.discovery__list_contanier {
		flex-wrap: nowrap;
		flex-flow: column;
		align-items: center;
	}
	.artists_flex-wrap .artists__names-list,
	.discovery__list_contanier .discovery__item {
		width: 90%;
	}
	.artists__names-description {
		max-width: 90%;
		width: 90%;
		text-align: center;
	}
	._artists__names__second,
	.artists__names-description-second {
		padding-top: 5%;
		padding-right: 0;
		width: 90%;
	}

	.artists__names-main-second {
		margin-bottom: 3%;
	}
	.artists__names-item-link {
		display: flex;
		justify-content: center;
	}
	.artists__names-item-button-second {
		text-align: center;
		width: 80%;
	}
}

@media (max-width: 780px) {
}

@media (max-width: 600px) {
	.header__menu-list-socials {
		grid-template-columns: 30% 30% 30%;
		justify-items: center;
		.header__menu-button-inner {
			display: none;
		}
	}
	.header__menu-logo {
		width: 90%;
		align-items: center;
		justify-content: end;
	}
	.discovery__top-list .discovery__top-list-wrap-list {
		&:nth-child(1) {
			margin-right: 0;
		}
		&:nth-child(2) {
			margin-right: 0;
		}
		&:nth-child(3) {
			margin-right: 0;
		}
		&:nth-child(4) {
			margin-right: 0;
			padding-bottom: 20px;
		}
		&:nth-child(5) {
			margin-right: 0;
			padding-bottom: 20px;
		}
	}
	.discovery__top-list {
		width: 90%;
		margin: 0 auto;
		.discovery__top-list-wrap-list {
		}
	}
	.discovery_top-subtext {
		padding-top: 2%;
	}
}

@media (max-width: 450px) {
	.header__menu-list-socials {
		display: none;
	}
}

@media (max-width: 550px) {
	.bg_artists_list {
		background: url(./img/BG_text.png) -10% no-repeat,
			url(./img/BG_green.png) bottom repeat-x;
		height: calc(135px + 10vw);
		background-size: auto 64.9122807018%, 100% 100%;
		position: relative;
	}
}
