@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0 10px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* outfit-regular - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../style/fonts/outfit-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../style/fonts/outfit-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../style/fonts/outfit-v6-latin-regular.woff2") format("woff2"), url("../style/fonts/outfit-v6-latin-regular.woff") format("woff"), url("../style/fonts/outfit-v6-latin-regular.ttf") format("truetype"), url("../style/fonts/outfit-v6-latin-regular.svg#Outfit") format("svg"); /* Legacy iOS */
}
/* outfit-700 - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../style/fonts/outfit-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../style/fonts/outfit-v6-latin-700.eot?#iefix") format("embedded-opentype"), url("../style/fonts/outfit-v6-latin-700.woff2") format("woff2"), url("../style/fonts/outfit-v6-latin-700.woff") format("woff"), url("../style/fonts/outfit-v6-latin-700.ttf") format("truetype"), url("../style/fonts/outfit-v6-latin-700.svg#Outfit") format("svg"); /* Legacy iOS */
}
.artists__names-item-button-second, .artists__names-main-second, .artists__names-prof-title-second, .artists__names-prof-name_second, .artists__names-description .artists__names-main, .artists__names-description .artists__names-prof-title, .artists__names-description .artists__names-prof-name, .artists_flex-wrap .artists__names-list .artists__names-item-button, .artists__title .artists__sub-text, .artists__title .artists__catch-phrase, .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner :nth-child(1), .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main .first-page__main-inner .first-page__main-sub, .first-page__main .first-page__main-inner .first-page__main-title, .first-page__main .first-page__main-inner .first-page__main-upper {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}

.footer__links .footer__links-list .footer__links-item :hover, .footer__main .footer__new-reg .footer__new-reg-mail :hover, .artists__names-item-button-second:hover, .artists_flex-wrap .artists__names-list ._button_black:hover, .artists_flex-wrap .artists__names-list .artists__names-item-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

._container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 300px;
}

.content {
  margin-bottom: 10.8333333333%;
}

.wrapper {
  min-height: 100%;
}

._container-footer {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  margin-top: 2.25%;
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
}

.header__menu-list {
  display: flex;
  background: #ffffff;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  border-radius: 30px;
}

.header__menu-logo {
  display: grid;
  grid-template-columns: 35% 55%;
  width: 40%;
  align-items: center;
  justify-content: end;
}
.header__menu-logo .header__menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.header__menu-logo .header__menu-list .header__menu-item-link {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #222222;
  text-decoration: none;
}

.header__menu-list-socials {
  display: grid;
  grid-template-columns: 15% 15% 15% 45%;
  width: 40%;
  align-items: center;
  justify-content: start;
  justify-items: end;
}
.header__menu-list-socials .header__menu-button-inner .header__menu-button {
  background: #2f2f2f;
  border-radius: 20px;
  width: 144px;
  height: 40px;
}
.header__menu-list-socials .header__menu-button-inner .header__menu-button .header__menu-button-link {
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #ffffff;
  text-decoration: none;
}

.first-page__main {
  padding-top: 1.3333333333%;
  display: flex;
  height: 510px;
  margin-bottom: 25.6666666667%;
}
.first-page__main .first-page__main-inner {
  display: flex;
  flex-flow: column;
  width: 44.8333333333%;
  margin-right: 6.9166666667%;
}
.first-page__main .first-page__main-inner .first-page__main-upper {
  padding-top: 26.7657992565%;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #82cbac;
}
.first-page__main .first-page__main-inner .first-page__main-title {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
  margin-bottom: 4.6468401487%;
}
.first-page__main .first-page__main-inner .first-page__main-sub {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}

.first-page__main-inner-img {
  width: 48.3333333333%;
  position: relative;
  min-height: 510px;
}
.first-page__main-inner-img .first-page__main-imgfirst {
  background: url(./img/BG_man.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 63.7254901961%;
  width: 56.0344827586%;
  min-width: 325px;
  top: 0;
  left: 0;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
  display: flex;
  width: 105px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  height: 33px;
  align-items: center;
  position: absolute;
  left: -12.3076923077%;
  top: 4.9230769231%;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
  padding-left: 5px;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
  width: 22px;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner {
  display: flex;
  flex-flow: column;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}

.first-page__main-inner-img {
  position: relative;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman {
  background: url(./img/BG_woman.jpg) no-repeat;
  background-position: center;
  height: 80.3921568627%;
  width: 70.6896551724%;
  min-width: 350px;
  border-radius: 30px;
  position: absolute;
  border-radius: 30px;
  bottom: 0;
  right: 0;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
  display: grid;
  grid-template-columns: 40% 55%;
  width: 159px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  height: 55px;
  align-items: center;
  position: absolute;
  top: 81.2195121951%;
  left: -19.512195122%;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
  padding-left: 5px;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
  width: 41px;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner {
  display: flex;
  flex-flow: column;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner :nth-child(1) {
  font-size: 16px;
  line-height: 16px;
}

.page-first__footer {
  background: url(./img/BG_first_footer.png) repeat-x;
  background-position: center;
  background-size: contain;
  height: 15vh;
  width: 100vw;
  margin-bottom: 10.6666666667%;
}

.artists__title {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #2f2f2f;
  margin-bottom: 6%;
}
.artists__title .artists__catch-phrase {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.48px;
  margin-bottom: 2.0833333333%;
}
.artists__title .artists__sub-text {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.48px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.artists_flex-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 7%;
}
.artists_flex-wrap .artists__names-list {
  width: 50%;
}
.artists_flex-wrap .artists__names-list .artists__names {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6.6666666667%;
}
.artists_flex-wrap .artists__names-list .artists__names-item-link {
  width: 29.8333333333%;
  margin-right: 8px;
}
.artists_flex-wrap .artists__names-list .artists__names-item-link:last-child {
  margin-right: 0;
}
.artists_flex-wrap .artists__names-list .artists__names-item-button {
  width: 100%;
  height: 50px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.48px;
  color: #2f2f2f;
  border-radius: 30px;
  background: none;
}
.artists_flex-wrap .artists__names-list .artists__names-item-button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.artists_flex-wrap .artists__names-list ._button_black {
  color: #ffffff;
  background: #2f2f2f;
}
.artists_flex-wrap .artists__names-list ._button_black:hover {
  background: rgba(47, 47, 47, 0.8);
}

.artists__names-visual {
  width: 100%;
}
.artists__names-visual .artists__names-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.artists__names-description {
  width: 49%;
}

.artists__names-description {
  padding-top: 13.3333333333%;
  max-width: 39.75%;
}
.artists__names-description .artists__names-prof-name {
  margin-bottom: 1.1666666667%;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.48px;
  color: #ff7f96;
}
.artists__names-description .artists__names-prof-title {
  margin: 0;
  display: flex;
  flex-flow: column;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
  margin-bottom: 1.75%;
}
.artists__names-description .artists__names-main {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}

.artists__names-description-second {
  width: 45%;
  padding-top: 17%;
}

._artists__names__second {
  padding-top: 12.25%;
  padding-right: 5.25%;
  width: 50%;
}

.artists__names-prof-name_second {
  font-size: 35px;
  line-height: 36px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #2f2f2f;
  margin-bottom: 7px;
}

.artists__names-prof-title-second {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
  margin-bottom: 7.9664570231%;
}

.artists__names-main-second {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
  margin-bottom: 6.7085953878%;
}

.artists__names-item-button-second {
  background: #2f2f2f;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #ffffff;
  width: 34.8008385744%;
  min-width: 100px;
  height: 9.2243186583%;
}
.footer__main {
  display: grid;
  grid-template-columns: 20% 37% 43%;
  margin: 0 auto;
  margin-bottom: 10.4166666667%;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  height: 240px;
  min-height: 20%;
}
.footer__main .footer__socials {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 20% 20%;
}
.footer__main .footer__socials-list {
  display: flex;
  align-items: center;
}
.footer__main .footer__socials-list .footer__socials-item-link {
  margin-right: 20px;
}
.footer__main .footer__new-reg {
  display: grid;
  grid-template-rows: 25% 45% 30%;
}
.footer__main .footer__new-reg .footer__new-reg-title {
  font-size: 35px;
  line-height: 29px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.footer__main .footer__new-reg .footer__new-reg-sub {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.footer__main .footer__new-reg .footer__new-reg-mail button {
  background-color: #2f2f2f;
  font-size: 14px;
  width: 85px;
  height: 40px;
  border-radius: 20px;
  transition: 0.5s;
}
.footer__main .footer__new-reg .footer__new-reg-mail a {
  text-decoration: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #ffffff;
}
.footer__main .footer__new-reg .footer__new-reg-mail input {
  border-radius: 20px;
  background: #f6f6f6;
  border: none;
  height: 40px;
  width: 70%;
}
.footer__main .footer__new-reg .footer__new-reg-mail input::-moz-placeholder {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
  padding: 12px 169px 12px 20px;
}
.footer__main .footer__new-reg .footer__new-reg-mail input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
  padding: 12px 169px 12px 20px;
}
.footer__main .footer__new-reg .footer__new-reg-mail input::placeholder {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
  padding: 12px 169px 12px 20px;
}

.footer__links {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}
.footer__links .footer__links-list {
  display: grid;
  grid-template-rows: 25% 18% 18% 18%;
}
.footer__links .footer__links-list .footer__links-item .footer__links-item-link {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
  text-decoration: none;
  transition: 0.3s;
}
.footer__links .footer__links-list .footer__links-item :hover {
  text-decoration: underline;
  color: rgba(37, 6, 73, 0.8);
}
.footer__links .footer__links-list .footer__links-item:first-child {
  font-size: 20px;
}

.footer__author {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 47px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  align-items: center;
}
.footer__author .footer__author-produced {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.footer__author .footer__author-name span {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.footer__author .footer__author-name span:nth-child(2n) {
  color: #ff7f96;
}

@media (max-width: 1000px) {
  .artists__names-description {
    padding-top: 4.1666666667%;
    padding-left: 5px;
    max-width: 50%;
  }
  .artists__names-prof-title {
    font-size: 30px;
  }
  .artists__names-description .artists__names-main {
    font-size: 15px;
  }
  .artists__names-prof-name_second {
    font: 30px;
  }
  .artists__names-prof-title-second {
    font-size: 30px;
    margin-bottom: 3%;
  }
  .artists__names-main-second {
    font-size: 15px;
  }
  .artists__names-description-second {
    padding-top: 12%;
    width: 50%;
  }
}
@media (max-width: 900px) {
  .first-page__main .first-page__main-inner .first-page__main-upper, .first-page__main .first-page__main-inner .first-page__main-title, .first-page__main .first-page__main-inner .first-page__main-sub, .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner :nth-child(1), .artists__title .artists__catch-phrase, .artists__title .artists__sub-text, .artists_flex-wrap .artists__names-list .artists__names-item-button, .artists__names-description .artists__names-prof-name, .artists__names-description .artists__names-prof-title, .artists__names-description .artists__names-main, .artists__names-prof-name_second, .artists__names-prof-title-second, .artists__names-main-second, .artists__names-item-button-second {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
  }
  .first-page__main {
    flex-wrap: wrap;
    height: 800px;
    justify-content: center;
  }
  .first-page__main-inner-img {
    min-width: 48%;
  }
  .first-page__main .first-page__main-inner {
    width: 90%;
    text-align: center;
    margin-right: 0;
  }
  .first-page__main-inner-img {
    width: 90%;
    height: 430px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst {
    background-size: cover;
    width: 30.0925925926%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    background-size: cover;
    width: 37.962962963%;
    height: 80.3921568627%;
  }
  .first-page__main .first-page__main-inner .first-page__main-upper {
    padding-top: 5%;
  }
  .header__menu-logo {
    display: grid;
    grid-template-columns: 35% 55%;
    width: 50%;
    align-items: center;
    justify-content: end;
  }
  .header__menu-logo .header__menu-list .header__menu-item-link {
    font-size: 10px;
  }
  .header__menu-list-socials {
    width: 45%;
    grid-template-columns: 10% 10% 10% 60%;
  }
  .footer__main {
    height: 240px;
    min-height: 20%;
    grid-template-columns: 24% 35% 39%;
  }
  .footer__main .footer__socials {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 15% 15%;
  }
  .footer__main .footer__socials .footer__join-text {
    font-size: 15px;
  }
  .footer__main .footer__new-reg {
    grid-template-rows: 25% 30% 30%;
  }
  .footer__main .footer__new-reg .footer__new-reg-title {
    font-size: 25px;
    line-height: 25px;
  }
  .footer__main .footer__new-reg .footer__new-reg-sub {
    font-size: 15px;
    line-height: 15px;
  }
  .footer__links .footer__links-list {
    grid-template-rows: 25% 13% 13% 13%;
  }
  .footer__links .footer__links-list .footer__links-item .footer__links-item-link {
    font-size: 12px;
    line-height: 12px;
  }
  .footer__links .footer__links-list .footer__links-item:first-child {
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
    top: 10%;
    left: 65%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
    top: 10%;
    left: 55%;
  }
  .first-page__main .first-page__main-inner .first-page__main-title {
    font-size: 40px;
  }
}
@media (max-width: 410px) {
  .first-page__main-inner-img .first-page__main-imgfirst {
    top: 0;
    right: 0;
    background-size: cover;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    right: 0;
    bottom: 0;
    background-size: cover;
  }
  .first-page__main {
    min-width: 320px;
  }
}
@media (max-width: 750px) {
  .artists_flex-wrap {
    flex-wrap: nowrap;
    flex-flow: column;
    align-items: center;
  }
  .artists_flex-wrap .artists__names-list {
    width: 90%;
  }
  .artists__names-description {
    max-width: 90%;
    width: 90%;
    text-align: center;
  }
  ._artists__names__second {
    padding-top: 5%;
    padding-right: 0;
    width: 90%;
  }
  .artists__names-description-second {
    padding-top: 5%;
    width: 90%;
    text-align: center;
  }
  .artists__names-main-second {
    margin-bottom: 3%;
  }
  .artists__names-item-button-second {
    background: #2f2f2f;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.48px;
    color: #ffffff;
    width: 70%;
    min-width: 250px;
    height: 70px;
  }
}
@media (max-width: 670px) {
  .artists__title .artists__catch-phrase {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.48px;
    margin-bottom: 1%;
    text-align: center;
  }
  .artists__title .artists__sub-text {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
  }
}
@media (max-width: 780px) {
  .footer__main .footer__new-reg .footer__new-reg-mail input {
    width: 80%;
  }
  .footer__main .footer__socials .footer__join-text {
    display: none;
  }
  .page-first__footer {
    background: url(./img/BG_first_footer.png) repeat-x;
    background-position: center;
    background-size: contain;
    height: 150px;
  }
}
@media (max-width: 600px) {
  .header__menu-list-socials {
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
  }
  .header__menu-list-socials .header__menu-button-inner {
    display: none;
  }
  .header__menu-logo {
    width: 90%;
    align-items: center;
    justify-content: end;
  }
  .header__menu-logo .header__menu-list .header__menu-item-link {
    font-size: 10px;
  }
  .footer__main {
    grid-template-columns: 100%;
    grid-template-rows: 31% 26% 38%;
  }
  .footer__main .footer__socials {
    display: grid;
    grid-template-columns: 53% 47%;
    grid-template-rows: none;
    justify-items: center;
    align-items: center;
  }
  .footer__links .footer__links-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    width: 100%;
    justify-items: center;
    padding-top: 5px;
  }
  .footer__links {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  .footer__main .footer__new-reg .footer__new-reg-title {
    display: none;
  }
  .footer__main .footer__new-reg .footer__new-reg-mail {
    padding-top: 10px;
    display: grid;
    grid-template-rows: 44% 45%;
    row-gap: 10px;
    grid-template-columns: 100%;
  }
  .footer__author .footer__author-name span {
    font-size: 10px;
    line-height: 10px;
  }
  .footer__author .footer__author-produced {
    font-size: 10px;
    line-height: 10px;
  }
  .page-first__footer {
    background: url(./img/BG_first_footer.png) repeat-x;
    background-position: center;
    background-size: cover;
    height: 100px;
  }
  .footer__main .footer__new-reg .footer__new-reg-mail {
    width: 100%;
    height: 100px;
    grid-template-rows: 49% 49%;
    row-gap: 5px;
    justify-items: center;
    padding-top: 20px;
  }
  .footer__main .footer__new-reg .footer__new-reg-mail button {
    background-color: #2f2f2f;
    font-size: 14px;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    transition: 0.5s;
  }
}
@media (max-width: 450px) {
  .header__menu-list-socials {
    display: none;
  }
}
@media (max-width: 450px) and (max-width: 380px) {
  .first-page__main .first-page__main-inner .first-page__main-title {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 450px) and (max-width: 410px) {
  .footer__author {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90%;
    margin-bottom: 47px;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */