@import "reset";
@import "fonts";
@import "value";

._container {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 300px;
}
.content {
	margin-bottom: calc(130 / 1200 * 100%);
}
.wrapper {
	min-height: 100%;
}

._container-footer {
	margin: 0 auto;
	max-width: 1200px;
}

.header {
	margin-top: calc(27 / 1200 * 100%);
	box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
	border-radius: 30px;
}
.header__menu-list {
	display: flex;
	background: #ffffff;
	height: 68px;
	align-items: center;
	justify-content: space-between;
	border-radius: 30px;
	a {
		height: 18px;
		&:hover {
			text-decoration: underline;
			@extend %hover;
		}
	}
}
.header__menu-logo {
	display: grid;
	grid-template-columns: 35% 55%;
	width: 40%;
	align-items: center;
	justify-content: end;
	.header__menu-logo-img-link {
		display: flex;
		align-items: center;
		height: 31px;
	}
	.header__menu-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		justify-items: center;
		.header__menu-item-link {
			font-size: 15px;
			line-height: 16px;
			letter-spacing: 0.48px;
			color: #222222;
		}
	}
}
.header__menu-list-socials {
	display: grid;
	grid-template-columns: 15% 15% 15% 45%;
	width: 40%;
	height: 68px;
	align-items: center;
	justify-content: start;
	justify-items: end;
	.header__menu-button-inner {
		.header__menu-button {
			background: #2f2f2f;
			border-radius: 20px;
			width: 144px;
			height: 40px;
			.header__menu-button-link {
				font-size: 13px;
				line-height: 14px;
				letter-spacing: 0.48px;
				color: #ffffff;
				text-decoration: none;
			}
		}
	}
}

.first-page__main {
	padding-top: calc(16 / 1200 * 100%);
	display: flex;
	height: 527px;
	margin-bottom: calc(308 / 1200 * 100%);
	color: #2f2f2f;

	.first-page__main-inner {
		display: flex;
		flex-flow: column;
		width: calc(538 / 1200 * 100%);
		margin-right: calc(83 / 1200 * 100%);
		.first-page__main-upper {
			padding-top: calc(144 / 538 * 100%);
			font-size: 13px;
			line-height: 14px;
			letter-spacing: 0.48px;
			color: #82cbac;
		}
		.first-page__main-title {
			font-size: calc(35px + 2vw);
			line-height: calc(35px + 2vw);
			letter-spacing: 0.48px;

			margin-bottom: calc(25 / 538 * 100%);
		}
		.first-page__main-sub {
			font-size: 17px;
			line-height: 26px;
			letter-spacing: 0.48px;
		}
	}
}

.first-page__main-inner-img {
	width: calc(580 / 1200 * 100%);
	position: relative;
	min-height: 510px;

	.first-page__main-imgfirst {
		background: url(./img/BG_man.jpg) no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		height: calc(325 / 510 * 100%);
		width: calc(325 / 580 * 100%);
		min-width: 325px;
		top: 0;
		left: 0;
		.first-page__main-imgfirst-inner {
			padding-left: 5px;
			display: flex;
			width: 105px;
			background: rgba(255, 255, 255, 0.85);
			box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
			border-radius: 30px;
			height: 33px;
			align-items: center;
			position: absolute;
			left: calc(-40 / 325 * 100%);
			top: calc(16 / 325 * 100%);
			.first-page__main-imgfirst-names {
				display: flex;
			}
			.first-page__main-name-inner {
				display: flex;
				flex-flow: column;
				font-size: 11px;
				line-height: 11px;
				letter-spacing: 0.48px;
				justify-content: center;
				padding-left: 10px;
				:last-child {
					font-size: 9px;
				}
			}
		}
	}
}
.first-page__main-inner-img {
	position: relative;
	.first-page__main-imgfirst-woman {
		background: url(./img/BG_woman.jpg) no-repeat;
		background-position: center;
		height: calc(410 / 510 * 100%);
		width: calc(410 / 580 * 100%);
		min-width: 350px;
		border-radius: 30px;
		position: absolute;
		border-radius: 30px;
		bottom: 0;
		right: 0;
		.first-page__main-imgfirst-inner {
			display: grid;
			grid-template-columns: 40% 55%;
			width: 159px;
			background: rgba(255, 255, 255, 0.85);
			box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
			border-radius: 30px;
			height: 55px;
			align-items: center;
			position: absolute;
			top: calc(333 / 410 * 100%);
			left: calc(-80 / 410 * 100%);
			.first-page__main-imgfirst-names {
				padding-left: 7px;
				display: flex;
				.first-page__main-name {
					width: 41px;
				}
			}
			.first-page__main-name-inner {
				display: flex;
				flex-flow: column;
				font-size: 11px;
				line-height: 13px;
				letter-spacing: 0.48px;
				color: #2f2f2f;
				& :nth-child(1) {
					font-size: 16px;
					line-height: 16px;
				}
			}
		}
	}
}

.features_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: calc(141 / 1200 * 100%);
	max-height: 595px;
	align-items: center;
	.features__main-list {
		display: flex;
		flex-flow: column;
		width: calc(460 / 1200 * 100%);
		.features__main-item {
			margin-bottom: calc(32 / 460 * 100%);
			&:last-child {
				margin-bottom: 0;
			}
		}
		.features__main-item {
			display: flex;
			flex-flow: column;
			letter-spacing: 0.48px;
			color: #2f2f2f;
			.features__title {
				padding-top: 5px;
				font-weight: 700;
				font-size: calc(14px + 1.2vw);
				line-height: calc(15px + 1.2vw);
				margin-bottom: calc(13 / 460 * 100%);
			}
			.features__sub {
				font-size: calc(13px + 0.3vw);
				line-height: calc(15px + 0.3vw);
			}
			.features__point {
				display: flex;
				align-items: center;
			}
		}
	}
	.features__visual {
		width: calc(552 / 1200 * 100%);
		.features_container-img {
			position: relative;
			padding-bottom: calc(595 / 552 * 100%);
			.features-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.page-first__footer {
	background: url(./img/BG_first_footer.png) repeat-x;
	background-position: center;
	background-size: contain;
	height: calc(150px + 4vw);
	width: 100vw;
	margin-bottom: calc(128 / 1200 * 100%);
}

.artists_container {
	color: #2f2f2f;
}

.artists__title {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;

	margin-bottom: calc(72 / 1200 * 100%);
	.artists__catch-phrase {
		font-size: calc(35px + 2vw);
		line-height: calc(35px + 2vw);
		letter-spacing: 0.48px;
		margin-bottom: calc(25 / 1200 * 100%);
	}
	.artists__sub-text {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.48px;
		display: flex;
		flex-flow: column;
		align-items: center;
	}
}
.artists_flex-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: calc(84 / 1200 * 100%);
	.artists__names-list {
		width: calc(552 / 1200 * 100%);
		.artists__names {
			display: flex;
			justify-content: flex-end;
			margin-bottom: calc(63 / 552 * 100%);
		}

		.artists__names-item-link {
			width: calc(179 / 600 * 100%);
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}
		.artists__names-item-button {
			width: 100%;
			height: 50px;
			font-size: 22px;
			line-height: 22px;
			text-align: center;
			letter-spacing: 0.48px;

			border-radius: 30px;
			background: none;
			&:hover {
				background: rgba(0, 0, 0, 0.1);
			}
		}
		._button_black {
			color: #ffffff;
			background: #2f2f2f;
			&:hover {
				background: rgba(47, 47, 47, 0.8);
			}
		}
	}
}
.artists__names-visual {
	width: 100%;
	.artists__names-img {
		object-fit: cover;
		width: 100%;
	}
}

.artists__names-description {
	width: 49%;
}

.artists__names-description {
	padding-top: calc(160 / 1200 * 100%);
	max-width: calc(477 / 1200 * 100%);

	.artists__names-prof-name {
		margin-bottom: calc(14 / 477 * 100%);
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.48px;
		color: #ff7f96;
	}
	.artists__names-prof-title {
		margin: 0;
		display: flex;
		flex-flow: column;
		font-size: calc(20px + 1.2vw);
		line-height: calc(20px + 1.2vw);
		letter-spacing: 0.48px;

		margin-bottom: calc(21 / 477 * 100%);
	}
	.artists__names-main {
		font-size: calc(16px + 0.2vw);
		line-height: calc(22px + 0.2vw);
		letter-spacing: 0.48px;
	}
}
.artists__names-description-second {
	width: 45%;
	padding-top: calc(204 / 1200 * 100%);
}
._artists__names__second {
	padding-top: calc(147 / 1200 * 100%);
	padding-right: calc(63 / 1200 * 100%);
	width: 49%;
}

.artists__names-prof-name_second {
	font-size: calc(17px + 1vw);
	line-height: calc(17px + 1vw);
	letter-spacing: 0.48px;
	text-transform: uppercase;

	margin-bottom: 7px;
}
.artists__names-prof-title-second {
	font-size: calc(30px + 1vw);
	line-height: calc(30px + 1vw);
	letter-spacing: 0.48px;
	margin-bottom: calc(38 / 558 * 100%);
}

.artists__names-main-second {
	font-weight: 400;
	font-size: calc(14px + 0.2vw);
	line-height: calc(20px + 0.2vw);
	letter-spacing: 0.48px;
	margin-bottom: calc(32 / 558 * 100%);
}

.artists__names-item-button-second {
	background: #2f2f2f;
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 0.48px;
	color: #ffffff;
	width: 166px;
	min-width: 100px;
	height: 44px;
	&:hover {
		@extend %hover;
	}
}

.artists__names-item-link {
	display: flex;
	justify-content: end;
}

.bg_artists_list {
	background: url(./img/BG_text.png) 50% no-repeat, url(./img/BG_green.png) bottom repeat-x;
    height: calc(135px + 10vw);
    background-size: auto calc(296/456*100%), 100% 100%;
    position: relative;
	.bg_artist_items {
		position: absolute;
   		bottom: 0;
  		right: 0;
 		background: url(./img/BG_bodies.png) no-repeat bottom right;
 		background-size: auto 100%;
  		height: calc(165px + 10vw);
  		width: 100%;
	}
}

.footer_container {
	color: #2f2f2f;
}

.footer__main {
	display: flex;
	margin: 0 auto;
	margin-bottom: calc(125 / 1200 * 100%);
	justify-content: space-between;

	.footer__socials {
		width: calc(190 / 1200 * 100);
		.footer__join-text {
			padding-top: calc(46 / 240 * 100%);
			font-size: calc(10px + 0.7vw);
			line-height: calc(10px + 0.7vw);
		}
	}

	.footer__socials {
		display: flex;
		flex-flow: column;
	}
	.footer__socials-list {
		display: flex;
		justify-content: space-between;
		padding-top: calc(20 / 240 * 100%);
		width: 50%;
	}
	.footer__new-reg {
		display: flex;
		flex-flow: column;
		width: calc(450 / 1200 * 100%);
		* {
			margin-bottom: calc(8 / 240 * 100%);
		}

		.footer__new-reg-title {
			font-size: calc(16px + 1vw);
			line-height: 29px;
			letter-spacing: 0.48px;
		}
		.footer__new-reg-sub {
			font-size: calc(10px + 0.4vw);
			line-height: calc(10px + 0.4vw);
			letter-spacing: 0.48px;
		}
		.footer__new-reg-mail {
			button {
				background-color: #2f2f2f;
				font-size: 14px;
				width: 39%;
				height: calc(40 / 240 * 100%);
				min-height: 40px;
				border-radius: 20px;
				transition: 0.5s;
			}
			:hover {
				@extend %hover;
			}
			& a {
				font-weight: 700;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.48px;
				color: #ffffff;
			}
			input {
				border-radius: 20px;
				background: #f6f6f6;
				border: none;
				height: 40px;
				width: 60%;
				&::placeholder {
					font-size: calc(12px + 0.1vw);
					line-height: calc(12px + 0.1vw);
					letter-spacing: 0.48px;
					color: rgba(47, 47, 47, 0.36);
					padding: 12px 169px 12px 20px;
				}
			}
		}
	}
}

.footer__links {
	display: flex;
	justify-content: space-between;
	width: 30%;
	color: #2f2f2f;
	.footer__links-list {
		display: flex;
		flex-flow: column;
		min-width: 40%;
		.footer__links-item,
		.footer__links-item-link {
			letter-spacing: 0.48px;
			font-size: calc(14px + 0.1vw);
			line-height: calc(14px + 0.1vw);
			letter-spacing: 0.48px;
			color: #2f2f2f;
			margin-bottom: calc(12 / 144 * 100%);
		}
		.footer__links-item:first-child {
			margin-bottom: calc(22 / 144 * 100%);
			font-size: calc(18px + 0.1vw);
			line-height: calc(18px + 0.1vw);
		}
	}
}

.footer__author {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 47px;

	align-items: center;
	.footer__author-produced {
		font-size: calc(11px + 0.1vw);
		line-height: calc(11px + 0.1vw);
		letter-spacing: 0.48px;
	}
	.footer__author-name {
		span {
			font-size: calc(13px + 0.1vw);
			line-height: calc(13px + 0.1vw);
			letter-spacing: 0.48px;
		}
		span:nth-child(2n) {
			color: #ff7f96;
		}
	}
}

@import "media";
