@import "reset";
@import "fonts";
@import "value";

._container {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 320px;
}
.content {
	margin-bottom: calc(130 / 1200 * 100%);
}
.wrapper {
	min-height: 100%;
}

._container-footer {
	margin: 0 auto;
	max-width: 1200px;
}

.header {
	margin-top: calc(27 / 1200 * 100%);
	box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
	border-radius: 30px;
}
.header__menu-list {
	display: flex;
	background: #ffffff;
	height: 68px;
	align-items: center;
	justify-content: space-between;
	border-radius: 30px;
	a {
		height: 18px;
	}
	> li:hover {
		@extend %hover;
	}
}
.header__menu-logo {
	display: grid;
	grid-template-columns: 35% 55%;
	width: 40%;
	align-items: center;
	justify-content: end;
	.header__menu-logo-img-link {
		display: flex;
		align-items: center;
		height: 31px;
	}
	.header__menu-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		justify-items: center;
		.header__menu-item-link {
			font-size: calc(10px + 0.4vw);
			line-height: 16px;
			letter-spacing: $letter-spacing;
			color: #222222;
		}
	}
}
.header__menu-list-socials {
	display: grid;
	grid-template-columns: 15% 15% 15% 45%;
	width: 40%;
	height: 68px;
	align-items: center;
	justify-content: start;
	justify-items: end;
	.header__menu-button-inner {
		.header__menu-button {
			background: #2f2f2f;
			border-radius: 20px;
			width: 144px;
			height: 40px;
			.header__menu-button-link {
				font-size: 13px;
				line-height: 14px;
				letter-spacing: $letter-spacing;
				color: #ffffff;
				text-decoration: none;
				:hover {
					@extend %hover;
				}
			}
		}
	}
}

.first-page__main {
	padding-top: calc(16 / 1200 * 100%);
	display: flex;
	height: 527px;
	margin-bottom: calc(308 / 1200 * 100%);
	color: #2f2f2f;
	letter-spacing: $letter-spacing;

	.first-page__main-inner {
		@extend %flex_col;
		width: calc(538 / 1200 * 100%);
		margin-right: calc(83 / 1200 * 100%);
		.first-page__main-upper {
			padding-top: calc(144 / 538 * 100%);
			font-size: 13px;
			line-height: 14px;
			color: #82cbac;
		}
		.first-page__main-title {
			font-size: calc(35px + 2vw);
			line-height: calc(35px + 2vw);
			margin-bottom: calc(25 / 538 * 100%);
		}
		.first-page__main-sub {
			font-size: calc(13px + 0.3vw);
			line-height: calc(22px + 0.3vw);
			width: 80%;
		}
	}
}

.first-page__main-inner-img {
	width: calc(580 / 1200 * 100%);
	position: relative;
	min-height: 510px;

	.first-page__main-imgfirst {
		background: url(./img/BG_man.jpg) no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		height: calc(325 / 510 * 100%);
		width: calc(325 / 580 * 100%);
		min-width: 325px;
		top: 0;
		left: 0;
		border-radius: 30px;
		box-shadow: 1px 1px 10px 1px rgba(15, 15, 27, 0.2);
		.first-page__main-imgfirst-inner {
			padding-left: 5px;
			display: flex;
			width: 105px;
			background: rgba(255, 255, 255, 0.85);
			border-radius: 30px;
			height: 33px;
			align-items: center;
			position: absolute;
			left: calc(-40 / 325 * 100%);
			top: calc(16 / 325 * 100%);
			:hover {
				@extend %hover;
			}
			.first-page__main-imgfirst-names {
				display: flex;
			}
			.first-page__main-name-inner {
				@extend %flex_col;
				font-size: 11px;
				line-height: 11px;
				letter-spacing: $letter-spacing;
				justify-content: center;
				padding-left: 10px;
				:last-child {
					font-size: 9px;
				}
			}
		}
	}
}
.first-page__main-inner-img {
	position: relative;
	.first-page__main-imgfirst-woman {
		background: url(./img/BG_woman.jpg) no-repeat;
		height: calc(410 / 510 * 100%);
		background-position: center;
		background-size: cover;
		width: calc(410 / 580 * 100%);
		min-width: 350px;
		border-radius: 30px;
		position: absolute;
		border-radius: 30px;
		bottom: 0;
		right: 0;
		box-shadow: 1px 1px 10px 1px rgba(15, 15, 27, 0.2);
		.first-page__main-imgfirst-inner {
			display: grid;
			grid-template-columns: 40% 55%;
			width: 159px;
			background: rgba(255, 255, 255, 0.85);
			border-radius: 30px;
			height: 55px;
			align-items: center;
			position: absolute;
			top: calc(333 / 410 * 100%);
			left: calc(-80 / 410 * 100%);
			:hover {
				@extend %hover;
			}
			.first-page__main-imgfirst-names {
				padding-left: 7px;
				display: flex;
				.first-page__main-name {
					width: 41px;
				}
			}
			.first-page__main-name-inner {
				@extend %flex_col;
				font-size: 11px;
				line-height: 13px;
				letter-spacing: $letter-spacing;
				color: #2f2f2f;
				:hover {
					@extend %hover;
				}
				& :nth-child(1) {
					font-size: 16px;
					line-height: 16px;
				}
			}
		}
	}
}

.page-first__collection {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
	justify-content: center;
	.page-first__collection-links {
		position: relative;
		padding-bottom: calc(11vw + 0.2vw);
		width: calc(100vw / 9);
		min-width: 120px;
		min-height: 120px;
		:hover {
			@extend %hover_img;
			transform: scale(1.5);
			transition: 0.5s 0.3s;
			z-index: 10;
		}
		.page-first__link-img {
			@extend %img_adapt;
		}
	}
}

.features_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: calc(141 / 1200 * 100%);
	max-height: 595px;
	align-items: center;
	.features__main-list {
		@extend %flex_col;
		width: calc(460 / 1200 * 100%);
		.features__main-item {
			margin-bottom: calc(32 / 460 * 100%);
			&:last-child {
				margin-bottom: 0;
			}
		}
		.features__main-item {
			@extend %flex_col;
			letter-spacing: $letter-spacing;
			color: #2f2f2f;
			.features__title {
				padding-top: 5px;
				font-weight: 700;
				font-size: calc(14px + 1.2vw);
				line-height: calc(15px + 1.2vw);
				margin-bottom: calc(13 / 460 * 100%);
			}
			.features__sub {
				font-size: calc(13px + 0.3vw);
				line-height: calc(15px + 0.3vw);
			}
			.features__point {
				display: flex;
				align-items: center;
			}
		}
	}
	.features__visual {
		width: calc(552 / 1200 * 100%);
		.features_container-img {
			position: relative;
			padding-bottom: calc(595 / 552 * 100%);
			.features-img {
				@extend %img_adapt;
			}
		}
	}
}

.artists_container {
	color: #2f2f2f;
	padding-top: calc(128 / 1920 * 100%);
}

.artists__title_basic {
	margin-bottom: calc(72 / 1200 * 100%);
}
.title_basic {
	@extend %flex_col_center;
	text-align: center;
	letter-spacing: $letter-spacing;

	.title_catch {
		font-size: calc(35px + 2vw);
		line-height: calc(35px + 2vw);
	}
	.artists__catch-phrase {
		margin-bottom: calc(25 / 1200 * 100%);
	}
	.title_sub {
		font-size: 18px;
		line-height: 26px;
		@extend %flex_col_center;
	}
}
.artists_flex-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: calc(84 / 1200 * 100%);

	.artists__names-list {
		width: calc(552 / 1200 * 100%);
		.artists__names {
			display: flex;
			justify-content: flex-end;
			margin-bottom: calc(63 / 552 * 100%);
		}

		.artists__names-item-link {
			width: calc(179 / 600 * 100%);
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}
		.artists__names-item-button {
			width: 100%;
			height: 50px;
			font-size: 22px;
			line-height: 22px;
			text-align: center;
			letter-spacing: $letter-spacing;
			border: 1px solid #2f2f2f;
			border-radius: 30px;
			background: none;
			color: #2f2f2f;
			&:hover {
				background: rgba(0, 0, 0, 0.1);
				@extend %hover;
			}
		}
		._button_black {
			color: #ffffff;
			background: #2f2f2f;
			&:hover {
				background: rgba(47, 47, 47, 0.8);
				@extend %hover;
			}
		}
	}
}
.artists__names-visual {
	width: 100%;
	.artists__names-img {
		object-fit: cover;
		width: 100%;
	}
}

.artists__names-description {
	width: 49%;
}

.artists__names-description {
	padding-top: calc(160 / 1200 * 100%);
	max-width: calc(477 / 1200 * 100%);
	letter-spacing: $letter-spacing;

	.artists__names-prof-name {
		margin-bottom: calc(14 / 477 * 100%);
		font-size: 16px;
		line-height: 18px;

		color: #ff7f96;
	}
	.artists__names-prof-title {
		margin: 0;
		@extend %flex_col;
		font-size: calc(20px + 1.2vw);
		line-height: calc(20px + 1.2vw);

		margin-bottom: calc(21 / 477 * 100%);
	}
	.artists__names-main {
		font-size: calc(16px + 0.2vw);
		line-height: calc(22px + 0.2vw);
	}
}
.artists__names-description-second {
	width: 45%;
	padding-top: calc(204 / 1200 * 100%);
}
._artists__names__second {
	padding-top: calc(147 / 1200 * 100%);
	padding-right: calc(63 / 1200 * 100%);
	width: 49%;
}

.artists__names-prof-name_second {
	font-size: calc(17px + 1vw);
	line-height: calc(17px + 1vw);
	letter-spacing: $letter-spacing;
	text-transform: uppercase;

	margin-bottom: 7px;
}
.artists__names-prof-title-second {
	font-size: calc(30px + 1vw);
	line-height: calc(30px + 1vw);
	letter-spacing: $letter-spacing;
	margin-bottom: calc(38 / 558 * 100%);
}

.artists__names-main-second {
	font-weight: 400;
	font-size: calc(14px + 0.2vw);
	line-height: calc(20px + 0.2vw);
	letter-spacing: $letter-spacing;
	margin-bottom: calc(32 / 558 * 100%);
}

.artists__names-item-button-second {
	background: #2f2f2f;
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: $letter-spacing;
	color: #ffffff;
	width: 166px;
	min-width: 100px;
	height: 44px;
	&:hover {
		@extend %hover;
	}
}

.artists__names-item-link {
	display: flex;
	justify-content: end;
}

.bg_artists_list {
	background: url(./img/BG_text.png) 50% no-repeat,
		url(./img/BG_green.png) bottom repeat-x;
	height: calc(135px + 10vw);
	background-size: auto calc(296 / 456 * 100%), 100% 100%;
	position: relative;

	.bg_artist_items {
		position: absolute;
		bottom: 0;
		right: 0;
		background: url(./img/BG_bodies.png) no-repeat bottom right;
		background-size: auto 100%;
		height: calc(165px + 10vw);
		width: 100%;
	}
}

.discovery__catch-phrase {
	padding-top: calc(100 / 1200 * 100%);
	margin-bottom: calc(73 / 1200 * 100%);
}

.discovery__list_contanier {
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: #2f2f2f;
	margin-bottom: calc(64 / 1200 * 100%);
	.discovery__item {
		@extend %flex_col;
		width: 30%;
		.discovery__wrap-img {
			position: relative;
			padding-bottom: calc(221 / 310 * 100%);

			.discovery-img {
				@extend %img_adapt;
				border-radius: 30px 30px 0px 0px;
				&:hover {
					@extend %hover_img;
				}
			}
		}
		.discovery_subtext {
			font-weight: 700;
			font-size: calc(15px + 0.8vw);
			line-height: calc(15px + 0.8vw);
			letter-spacing: $letter-spacing;
			padding: calc(29 / 310 * 100%) calc(266 / 310 * 100%)
				calc(37 / 310 * 100%) calc(50 / 310 * 100%);
			&:hover {
				@extend %hover;
			}
			a {
				color: #2f2f2f;
			}
		}
	}
}
.discovery__basic_top {
	margin-bottom: calc(25 / 1200 * 100%);
}
.link__basic {
	display: block;
	text-align: center;
	.button_basic {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: $letter-spacing;
		color: #ffffff;
		width: 134px;
		height: 44px;
		background: #2f2f2f;
		&:hover {
			@extend %hover;
		}
	}
}
.discovery__link {
	margin-bottom: calc(95 / 1200 * 100%);
}

.discovery__top-list {
	display: flex;
	flex-flow: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;

	.discovery__top-list-wrap-list {
		@extend %flex_col;
		width: 30%;
		flex-wrap: wrap;
		min-width: 270px;
		flex: 1 1 auto;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			margin-bottom: 20px;
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(5) {
			margin-right: calc(38 / 1200 * 100%);
		}
	}

	.discovery__wrap-top-img {
		position: relative;
		padding-bottom: calc(210 / 288 * 100%);
		:hover {
			@extend %hover_img;
		}

		.discovery-top-img {
			@extend %img_adapt;
			border-radius: 30px;
		}
	}
	.discovery_top-subtext,
	.discovery_top-subtext_container,
	.discovery_top-links-list {
		display: flex;
		flex-flow: row;
		align-items: center;
	}
}
.discovery_top-subtext {
	padding-top: calc(20 / 390 * 100%);
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;

	.discovery_top-subtext_container {
		width: calc(200 / 332 * 100%);
		justify-content: center;

		:first-child {
			padding-right: 8px;
		}
	}
	.discovery_top-links-list {
		width: calc((38 + 20 + 38) / 332 * 100%);
		justify-content: space-between;
		align-items: center;
		:hover {
			@extend %hover;
		}
		.discovery_top-link {
			padding-left: 5px;
		}
	}
}

.discovery_top-subtext_container {
	font-size: calc(12px + 0.2vw);
	line-height: calc(14px + 0.2vw);
	letter-spacing: $letter-spacing;

	:last-child {
		font-weight: 700;
		font-size: calc(14px + 0.2vw);
		line-height: calc(14px + 0.2vw);
	}
}

.discovery-top_link {
	padding-top: calc(63 / 1200 * 100%);
	margin-bottom: calc(55 / 1200 * 100%);
}

.faq_title {
	align-items: flex-start;
	margin-bottom: calc(73 / 1200 * 100%);
}

.faq__list {
	@extend %flex_col;
	width: 100%;
	> * {
		margin-bottom: calc(77 / 1200 * 100%);
	}
	:last-child {
		margin-bottom: 0;
	}

	.faq__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: calc(12px + 0.5vw);
		line-height: calc(14px + 0.5vw);
		letter-spacing: $letter-spacing;
	}
	.faq__item-link {
		position: relative;
		padding-bottom: calc(17 / 1200 * 100%);
		width: calc(28 / 1200 * 100%);
		min-width: calc(28px * 0.5);
		min-height: calc(17px * 0.5);
	}
	.faq__item-img {
		@extend %img_adapt;
	}
}

.footer_container {
	color: #2f2f2f;
}

.footer__main {
	display: flex;
	margin: 0 auto;
	margin-bottom: calc(125 / 1200 * 100%);
	justify-content: space-between;
	letter-spacing: $letter-spacing;

	.footer__socials {
		width: calc(190 / 1200 * 100);
		.footer__join-text {
			padding-top: calc(46 / 240 * 100%);
			font-size: calc(10px + 0.7vw);
			line-height: calc(10px + 0.7vw);
		}
	}

	.footer__socials {
		@extend %flex_col;
	}
	.footer__socials-list {
		display: flex;
		justify-content: space-between;
		padding-top: calc(20 / 240 * 100%);
		width: 50%;
	}
	.footer__new-reg {
		@extend %flex_col;
		width: calc(450 / 1200 * 100%);
		* {
			margin-bottom: calc(8 / 240 * 100%);
		}

		.footer__new-reg-title {
			font-size: calc(16px + 1vw);
			line-height: 29px;
		}
		.footer__new-reg-sub {
			font-size: calc(10px + 0.35vw);
			line-height: calc(10px + 1vw);
		}
		.footer__new-reg-mail {
			button {
				background-color: #2f2f2f;
				font-size: 14px;
				width: 39%;
				height: calc(40 / 240 * 100%);
				min-height: 40px;
				border-radius: 20px;
				transition: 0.5s;
			}
			:hover {
				@extend %hover;
			}
			& a {
				font-weight: 700;
				font-size: 14px;
				line-height: 16px;
				color: #ffffff;
			}
			input {
				border-radius: 20px;
				background: #f6f6f6;
				border: none;
				height: 40px;
				width: 60%;
				&::placeholder {
					font-size: calc(12px + 0.1vw);
					line-height: calc(12px + 0.1vw);
					color: rgba(47, 47, 47, 0.36);
					padding: 12px 169px 12px 20px;
				}
			}
		}
	}
}

.footer__links {
	display: flex;
	justify-content: space-between;
	width: 30%;
	color: #2f2f2f;
	.footer__links-list {
		@extend %flex_col;
		min-width: 40%;
		.footer__links-item,
		.footer__links-item-link {
			letter-spacing: $letter-spacing;
			font-size: calc(14px + 0.1vw);
			line-height: calc(14px + 0.1vw);

			color: #2f2f2f;
			margin-bottom: calc(12 / 144 * 100%);
			:hover {
				@extend %hover;
				text-decoration: underline;
			}
		}
		.footer__links-item:first-child {
			margin-bottom: calc(22 / 144 * 100%);
			font-size: calc(18px + 0.1vw);
			line-height: calc(18px + 0.1vw);
		}
	}
}

.footer__author {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	margin-bottom: calc(47 / 1200 * 100%);
	letter-spacing: $letter-spacing;

	align-items: center;
	.footer__author-produced {
		font-size: calc(11px + 0.1vw);
		line-height: calc(11px + 0.1vw);
	}
	.footer__author-name {
		span {
			font-size: calc(13px + 0.1vw);
			line-height: calc(13px + 0.1vw);
		}
		span:nth-child(2n) {
			color: #ff7f96;
		}
	}
}

@import "media";
