@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0 10px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* outfit-regular - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/outfit-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/outfit-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/outfit-v6-latin-regular.woff2") format("woff2"), url("./fonts/outfit-v6-latin-regular.woff") format("woff"), url("./fonts/outfit-v6-latin-regular.ttf") format("truetype"), url("./fonts/outfit-v6-latin-regular.svg#Outfit") format("svg"); /* Legacy iOS */
}
/* outfit-700 - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/outfit-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/outfit-v6-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/outfit-v6-latin-700.woff2") format("woff2"), url("./fonts/outfit-v6-latin-700.woff") format("woff"), url("./fonts/outfit-v6-latin-700.ttf") format("truetype"), url("./fonts/outfit-v6-latin-700.svg#Outfit") format("svg"); /* Legacy iOS */
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner :nth-child(1), .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main .first-page__main-inner .first-page__main-sub, .first-page__main .first-page__main-inner .first-page__main-title, .first-page__main .first-page__main-inner .first-page__main-upper {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}

._container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  min-width: 300px;
  height: 100vh;
}

._container-footer {
  margin: 0 auto;
  max-width: 1200px;
}

.wrapper {
  display: flex;
  flex-flow: column;
}
.wrapper .wrapper_inner {
  flex: 1 1 auto;
}

.header {
  margin-top: 2.25%;
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
}

.header__menu-list {
  display: flex;
  background: #ffffff;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  border-radius: 30px;
}

.header__menu-logo {
  display: grid;
  grid-template-columns: 35% 55%;
  width: 40%;
  align-items: center;
  justify-content: end;
}
.header__menu-logo .header__menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.header__menu-logo .header__menu-list .header__menu-item-link {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #222222;
  text-decoration: none;
}

.header__menu-list-socials {
  display: grid;
  grid-template-columns: 15% 15% 15% 45%;
  width: 40%;
  align-items: center;
  justify-content: start;
  justify-items: end;
}
.header__menu-list-socials .header__menu-button-inner .header__menu-button {
  background: #2f2f2f;
  border-radius: 20px;
  width: 144px;
  height: 40px;
}
.header__menu-list-socials .header__menu-button-inner .header__menu-button .header__menu-button-link {
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #ffffff;
  text-decoration: none;
}

.first-page__main {
  padding-top: 1.3333333333%;
  display: grid;
  grid-template-columns: 49% 50%;
  grid-template-rows: 510px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.first-page__main .first-page__main-inner {
  display: grid;
  grid-template-rows: 10% 53% 13%;
  padding-top: 24%;
}
.first-page__main .first-page__main-inner .first-page__main-upper {
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #82cbac;
}
.first-page__main .first-page__main-inner .first-page__main-title {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.first-page__main .first-page__main-inner .first-page__main-sub {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}

.first-page__main-inner-img {
  position: relative;
}
.first-page__main-inner-img .first-page__main-imgfirst {
  background: url(./img/BG_man.jpg) no-repeat;
  background-position: center;
  position: relative;
  height: 63.7254901961%;
  width: 54.1666666667%;
  border-radius: 30px;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
  display: grid;
  grid-template-columns: 40% 55%;
  width: 105px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  height: 33px;
  align-items: center;
  position: absolute;
  left: -6.6666666667%;
  top: 3.137254902%;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
  padding-left: 5px;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
  width: 22px;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner {
  display: flex;
  flex-flow: column;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}

.first-page__main-inner-img {
  position: relative;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman {
  background: url(./img/BG_woman.jpg) no-repeat;
  background-position: center;
  height: 80.3921568627%;
  width: 68.3333333333%;
  border-radius: 30px;
  margin-top: -37.5%;
  margin-left: 28.1666666667%;
  position: relative;
  border-radius: 30px;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
  display: grid;
  grid-template-columns: 40% 55%;
  width: 159px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  height: 55px;
  align-items: center;
  position: absolute;
  top: 81.2195121951%;
  left: -13.3333333333%;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
  padding-left: 5px;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
  width: 41px;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner {
  display: flex;
  flex-flow: column;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner :nth-child(1) {
  font-size: 16px;
  line-height: 16px;
}

.footer__main {
  padding-top: 8.1666666667%;
  display: grid;
  grid-template-columns: 20% 37% 43%;
  width: 86.6666666667%;
  margin: 0 auto;
  margin-bottom: 10.4166666667%;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  height: 240px;
}
.footer__main .footer__socials {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 20% 20%;
}
.footer__main .footer__socials-list {
  display: flex;
  align-items: center;
}
.footer__main .footer__socials-list .footer__socials-item-link {
  margin-right: 20px;
}
.footer__main .footer__new-reg {
  display: grid;
  grid-template-rows: 25% 45% 30%;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.footer__main .footer__new-reg .footer__new-reg-title {
  font-size: 35px;
  line-height: 29px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.footer__main .footer__new-reg .footer__new-reg-mail button {
  background-color: #2f2f2f;
  font-size: 14px;
  width: 79px;
  height: 40px;
  border-radius: 20px;
  transition: 0.5s;
}
.footer__main .footer__new-reg .footer__new-reg-mail :hover {
  opacity: 0.8;
}
.footer__main .footer__new-reg .footer__new-reg-mail a {
  text-decoration: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #ffffff;
}
.footer__main .footer__new-reg .footer__new-reg-mail input {
  border-radius: 20px;
  background: #f6f6f6;
  border: none;
  height: 40px;
  width: 70%;
}
.footer__main .footer__new-reg .footer__new-reg-mail input::-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
  padding: 12px 169px 12px 32px;
}
.footer__main .footer__new-reg .footer__new-reg-mail input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
  padding: 12px 169px 12px 32px;
}
.footer__main .footer__new-reg .footer__new-reg-mail input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
  padding: 12px 169px 12px 32px;
}

.footer__links {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}
.footer__links .footer__links-list {
  display: grid;
  grid-template-rows: 25% 18% 18% 18%;
}
.footer__links .footer__links-list .footer__links-item .footer__links-item-link {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
  text-decoration: none;
  transition: 0.3s;
}
.footer__links .footer__links-list .footer__links-item :hover {
  text-decoration: underline;
  color: rgba(37, 6, 73, 0.8);
}
.footer__links .footer__links-list .footer__links-item:first-child {
  font-size: 20px;
}

.footer__author {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 47px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}
.footer__author .footer__author-produced {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.footer__author .footer__author-name span {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.footer__author .footer__author-name span:nth-child(2n) {
  color: #ff7f96;
}

@media (max-width: 900px) {
  .first-page__main .first-page__main-inner .first-page__main-upper, .first-page__main .first-page__main-inner .first-page__main-title, .first-page__main .first-page__main-inner .first-page__main-sub, .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner :nth-child(1) {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
  }
  .first-page__main {
    padding-top: 1.3333333333%;
    grid-template-columns: 100%;
    grid-template-rows: 39% 60%;
    row-gap: 10px;
    height: 88.3333333333%;
    min-height: 810px;
  }
  .first-page__main .first-page__main-inner {
    grid-template-rows: 5% 55% 25%;
    padding-top: 3.3333333333%;
    justify-items: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-upper {
    width: 100%;
    text-align: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-title {
    width: 100%;
    text-align: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-sub {
    text-align: center;
    justify-self: center;
  }
  .first-page__main-inner-img {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    min-height: 510px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst {
    background: url(./img/BG_man.jpg) no-repeat;
    background-position: center;
    position: relative;
    border-radius: 30px;
    width: 72.2222222222%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
    padding-left: 5px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
    width: 22px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    background: url(./img/BG_woman.jpg) no-repeat;
    background-position: center;
    border-radius: 30px;
    position: relative;
    margin: 0;
    width: 91.1111111111%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
    padding-left: 5px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
    width: 41px;
  }
  .header__menu-logo {
    display: grid;
    grid-template-columns: 35% 55%;
    width: 50%;
    align-items: center;
    justify-content: end;
  }
  .header__menu-logo .header__menu-list .header__menu-item-link {
    font-size: 10px;
  }
}
.header__menu-list-socials {
  width: 45%;
  grid-template-columns: 10% 10% 10% 60%;
}
@media (max-width: 600px) {
  .first-page__main-inner-img {
    grid-template-columns: 50% 50%;
    -moz-column-gap: 20px;
         column-gap: 20px;
    min-height: 500px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
    left: 0;
    top: 0;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
    left: 0;
    top: 0;
  }
  .header__menu-list-socials {
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
  }
  .header__menu-list-socials .header__menu-button-inner {
    display: none;
  }
  .header__menu-logo {
    width: 90%;
    align-items: center;
    justify-content: end;
  }
  .header__menu-logo .header__menu-list .header__menu-item-link {
    font-size: 10px;
  }
  .first-page__main {
    padding-top: 1.3333333333%;
    grid-template-columns: 100%;
    grid-template-rows: 39% 60%;
    row-gap: 10px;
    height: 66.6666666667%;
    min-height: 600px;
  }
  .first-page__main .first-page__main-inner {
    grid-template-rows: 5% 55% 25%;
    padding-top: 3.3333333333%;
    justify-items: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-upper {
    width: 100%;
    text-align: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-title {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }
  .first-page__main .first-page__main-inner .first-page__main-sub {
    font-size: 12px;
    text-align: center;
    justify-self: center;
  }
}
@media (max-width: 450px) {
  .header__menu-list-socials {
    display: none;
  }
  .first-page__main-inner-img {
    grid-template-columns: 100%;
    row-gap: 20px;
  }
  .first-page__main-inner-img .first-page__main-imgfirst {
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
    display: none;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
    display: none;
  }
}
@media (max-width: 370px) {
  .first-page__main .first-page__main-inner .first-page__main-title {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */