@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  min-width: 320px;
  padding: 0 5px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* outfit-regular - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../style/fonts/outfit-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../style/fonts/outfit-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../style/fonts/outfit-v6-latin-regular.woff2") format("woff2"), url("../style/fonts/outfit-v6-latin-regular.woff") format("woff"), url("../style/fonts/outfit-v6-latin-regular.ttf") format("truetype"), url("../style/fonts/outfit-v6-latin-regular.svg#Outfit") format("svg"); /* Legacy iOS */
}
/* outfit-700 - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../style/fonts/outfit-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../style/fonts/outfit-v6-latin-700.eot?#iefix") format("embedded-opentype"), url("../style/fonts/outfit-v6-latin-700.woff2") format("woff2"), url("../style/fonts/outfit-v6-latin-700.woff") format("woff"), url("../style/fonts/outfit-v6-latin-700.ttf") format("truetype"), url("../style/fonts/outfit-v6-latin-700.svg#Outfit") format("svg"); /* Legacy iOS */
}
.footer__links .footer__links-list .footer__links-item :hover,
.footer__links .footer__links-list .footer__links-item-link :hover, .footer__main .footer__new-reg .footer__new-reg-mail :hover, .discovery_top-subtext .discovery_top-links-list :hover, .link__basic .button_basic:hover, .discovery__list_contanier .discovery__item .discovery_subtext:hover, .artists__names-item-button-second:hover, .artists_flex-wrap .artists__names-list ._button_black:hover, .artists_flex-wrap .artists__names-list .artists__names-item-button:hover, .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner :hover, .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner :hover, .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner :hover, .header__menu-list-socials .header__menu-button-inner .header__menu-button .header__menu-button-link :hover, .header__menu-list > li:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.discovery__top-list .discovery__wrap-top-img :hover, .discovery__list_contanier .discovery__item .discovery__wrap-img .discovery-img:hover, .page-first__collection .page-first__collection-links :hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.5s;
  box-shadow: 1px 1px 10px 1px rgba(15, 15, 27, 0.5);
}

.faq__list .faq__item-img, .discovery__top-list .discovery__wrap-top-img .discovery-top-img, .discovery__list_contanier .discovery__item .discovery__wrap-img .discovery-img, .features_container .features__visual .features_container-img .features-img, .page-first__collection .page-first__collection-links .page-first__link-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title_basic .title_sub, .title_basic {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer__links .footer__links-list, .footer__main .footer__new-reg, .footer__main .footer__socials, .faq__list, .discovery__top-list .discovery__top-list-wrap-list, .discovery__list_contanier .discovery__item, .artists__names-description .artists__names-prof-title, .features_container .features__main-list .features__main-item, .features_container .features__main-list, .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner, .first-page__main .first-page__main-inner {
  display: flex;
  flex-flow: column;
}

._container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
}

.content {
  margin-bottom: 10.8333333333%;
}

.wrapper {
  min-height: 100%;
}

._container-footer {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  margin-top: 2.25%;
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
}

.header__menu-list {
  display: flex;
  background: #ffffff;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}
.header__menu-list a {
  height: 18px;
}
.header__menu-logo {
  display: grid;
  grid-template-columns: 35% 55%;
  width: 40%;
  align-items: center;
  justify-content: end;
}
.header__menu-logo .header__menu-logo-img-link {
  display: flex;
  align-items: center;
  height: 31px;
}
.header__menu-logo .header__menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.header__menu-logo .header__menu-list .header__menu-item-link {
  font-size: calc(10px + 0.4vw);
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #222222;
}

.header__menu-list-socials {
  display: grid;
  grid-template-columns: 15% 15% 15% 45%;
  width: 40%;
  height: 68px;
  align-items: center;
  justify-content: start;
  justify-items: end;
}
.header__menu-list-socials .header__menu-button-inner .header__menu-button {
  background: #2f2f2f;
  border-radius: 20px;
  width: 144px;
  height: 40px;
}
.header__menu-list-socials .header__menu-button-inner .header__menu-button .header__menu-button-link {
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #ffffff;
  text-decoration: none;
}
.first-page__main {
  padding-top: 1.3333333333%;
  display: flex;
  height: 527px;
  margin-bottom: 25.6666666667%;
  color: #2f2f2f;
  letter-spacing: 0.48px;
}
.first-page__main .first-page__main-inner {
  width: 44.8333333333%;
  margin-right: 6.9166666667%;
}
.first-page__main .first-page__main-inner .first-page__main-upper {
  padding-top: 26.7657992565%;
  font-size: 13px;
  line-height: 14px;
  color: #82cbac;
}
.first-page__main .first-page__main-inner .first-page__main-title {
  font-size: calc(35px + 2vw);
  line-height: calc(35px + 2vw);
  margin-bottom: 4.6468401487%;
}
.first-page__main .first-page__main-inner .first-page__main-sub {
  font-size: calc(13px + 0.3vw);
  line-height: calc(22px + 0.3vw);
  width: 80%;
}

.first-page__main-inner-img {
  width: 48.3333333333%;
  position: relative;
  min-height: 510px;
}
.first-page__main-inner-img .first-page__main-imgfirst {
  background: url(./img/BG_man.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 63.7254901961%;
  width: 56.0344827586%;
  min-width: 325px;
  top: 0;
  left: 0;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px rgba(15, 15, 27, 0.2);
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
  padding-left: 5px;
  display: flex;
  width: 105px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  height: 33px;
  align-items: center;
  position: absolute;
  left: -12.3076923077%;
  top: 4.9230769231%;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
  display: flex;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner {
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.48px;
  justify-content: center;
  padding-left: 10px;
}
.first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner .first-page__main-name-inner :last-child {
  font-size: 9px;
}

.first-page__main-inner-img {
  position: relative;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman {
  background: url(./img/BG_woman.jpg) no-repeat;
  height: 80.3921568627%;
  background-position: center;
  background-size: cover;
  width: 70.6896551724%;
  min-width: 350px;
  border-radius: 30px;
  position: absolute;
  border-radius: 30px;
  bottom: 0;
  right: 0;
  box-shadow: 1px 1px 10px 1px rgba(15, 15, 27, 0.2);
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
  display: grid;
  grid-template-columns: 40% 55%;
  width: 159px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  height: 55px;
  align-items: center;
  position: absolute;
  top: 81.2195121951%;
  left: -19.512195122%;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names {
  padding-left: 7px;
  display: flex;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-imgfirst-names .first-page__main-name {
  width: 41px;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner .first-page__main-name-inner :nth-child(1) {
  font-size: 16px;
  line-height: 16px;
}

.page-first__collection {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}
.page-first__collection .page-first__collection-links {
  position: relative;
  padding-bottom: 11.2vw;
  width: 11.1111111111vw;
  min-width: 120px;
  min-height: 120px;
}
.page-first__collection .page-first__collection-links :hover {
  transform: scale(1.5);
  transition: 0.5s 0.3s;
  z-index: 10;
}
.features_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11.75%;
  max-height: 595px;
  align-items: center;
}
.features_container .features__main-list {
  width: 38.3333333333%;
}
.features_container .features__main-list .features__main-item {
  margin-bottom: 6.9565217391%;
}
.features_container .features__main-list .features__main-item:last-child {
  margin-bottom: 0;
}
.features_container .features__main-list .features__main-item {
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.features_container .features__main-list .features__main-item .features__title {
  padding-top: 5px;
  font-weight: 700;
  font-size: calc(14px + 1.2vw);
  line-height: calc(15px + 1.2vw);
  margin-bottom: 2.8260869565%;
}
.features_container .features__main-list .features__main-item .features__sub {
  font-size: calc(13px + 0.3vw);
  line-height: calc(15px + 0.3vw);
}
.features_container .features__main-list .features__main-item .features__point {
  display: flex;
  align-items: center;
}
.features_container .features__visual {
  width: 46%;
}
.features_container .features__visual .features_container-img {
  position: relative;
  padding-bottom: 107.7898550725%;
}
.artists_container {
  color: #2f2f2f;
  padding-top: 6.6666666667%;
}

.artists__title_basic {
  margin-bottom: 6%;
}

.title_basic {
  text-align: center;
  letter-spacing: 0.48px;
}
.title_basic .title_catch {
  font-size: calc(35px + 2vw);
  line-height: calc(35px + 2vw);
}
.title_basic .artists__catch-phrase {
  margin-bottom: 2.0833333333%;
}
.title_basic .title_sub {
  font-size: 18px;
  line-height: 26px;
}

.artists_flex-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 7%;
}
.artists_flex-wrap .artists__names-list {
  width: 46%;
}
.artists_flex-wrap .artists__names-list .artists__names {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 11.4130434783%;
}
.artists_flex-wrap .artists__names-list .artists__names-item-link {
  width: 29.8333333333%;
  margin-right: 8px;
}
.artists_flex-wrap .artists__names-list .artists__names-item-link:last-child {
  margin-right: 0;
}
.artists_flex-wrap .artists__names-list .artists__names-item-button {
  width: 100%;
  height: 50px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.48px;
  border: 1px solid #2f2f2f;
  border-radius: 30px;
  background: none;
  color: #2f2f2f;
}
.artists_flex-wrap .artists__names-list .artists__names-item-button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.artists_flex-wrap .artists__names-list ._button_black {
  color: #ffffff;
  background: #2f2f2f;
}
.artists_flex-wrap .artists__names-list ._button_black:hover {
  background: rgba(47, 47, 47, 0.8);
}

.artists__names-visual {
  width: 100%;
}
.artists__names-visual .artists__names-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.artists__names-description {
  width: 49%;
}

.artists__names-description {
  padding-top: 13.3333333333%;
  max-width: 39.75%;
  letter-spacing: 0.48px;
}
.artists__names-description .artists__names-prof-name {
  margin-bottom: 2.9350104822%;
  font-size: 16px;
  line-height: 18px;
  color: #ff7f96;
}
.artists__names-description .artists__names-prof-title {
  margin: 0;
  font-size: calc(20px + 1.2vw);
  line-height: calc(20px + 1.2vw);
  margin-bottom: 4.4025157233%;
}
.artists__names-description .artists__names-main {
  font-size: calc(16px + 0.2vw);
  line-height: calc(22px + 0.2vw);
}

.artists__names-description-second {
  width: 45%;
  padding-top: 17%;
}

._artists__names__second {
  padding-top: 12.25%;
  padding-right: 5.25%;
  width: 49%;
}

.artists__names-prof-name_second {
  font-size: calc(17px + 1vw);
  line-height: calc(17px + 1vw);
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.artists__names-prof-title-second {
  font-size: calc(30px + 1vw);
  line-height: calc(30px + 1vw);
  letter-spacing: 0.48px;
  margin-bottom: 6.8100358423%;
}

.artists__names-main-second {
  font-weight: 400;
  font-size: calc(14px + 0.2vw);
  line-height: calc(20px + 0.2vw);
  letter-spacing: 0.48px;
  margin-bottom: 5.7347670251%;
}

.artists__names-item-button-second {
  background: #2f2f2f;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #ffffff;
  width: 166px;
  min-width: 100px;
  height: 44px;
}
.artists__names-item-link {
  display: flex;
  justify-content: end;
}

.bg_artists_list {
  background: url(./img/BG_text.png) 50% no-repeat, url(./img/BG_green.png) bottom repeat-x;
  height: calc(135px + 10vw);
  background-size: auto 64.9122807018%, 100% 100%;
  position: relative;
}
.bg_artists_list .bg_artist_items {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(./img/BG_bodies.png) no-repeat bottom right;
  background-size: auto 100%;
  height: calc(165px + 10vw);
  width: 100%;
}

.discovery__catch-phrase {
  padding-top: 8.3333333333%;
  margin-bottom: 6.0833333333%;
}

.discovery__list_contanier {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #2f2f2f;
  margin-bottom: 5.3333333333%;
}
.discovery__list_contanier .discovery__item {
  width: 30%;
}
.discovery__list_contanier .discovery__item .discovery__wrap-img {
  position: relative;
  padding-bottom: 71.2903225806%;
}
.discovery__list_contanier .discovery__item .discovery__wrap-img .discovery-img {
  border-radius: 30px 30px 0px 0px;
}
.discovery__list_contanier .discovery__item .discovery_subtext {
  font-weight: 700;
  font-size: calc(15px + 0.8vw);
  line-height: calc(15px + 0.8vw);
  letter-spacing: 0.48px;
  padding: 9.3548387097% 85.8064516129% 11.935483871% 16.1290322581%;
}
.discovery__list_contanier .discovery__item .discovery_subtext a {
  color: #2f2f2f;
}

.discovery__basic_top {
  margin-bottom: 2.0833333333%;
}

.link__basic {
  display: block;
  text-align: center;
}
.link__basic .button_basic {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #ffffff;
  width: 134px;
  height: 44px;
  background: #2f2f2f;
}
.discovery__link {
  margin-bottom: 7.9166666667%;
}

.discovery__top-list {
  display: flex;
  flex-flow: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.discovery__top-list .discovery__top-list-wrap-list {
  width: 30%;
  flex-wrap: wrap;
  min-width: 270px;
  flex: 1 1 auto;
}
.discovery__top-list .discovery__top-list-wrap-list:nth-child(1), .discovery__top-list .discovery__top-list-wrap-list:nth-child(2), .discovery__top-list .discovery__top-list-wrap-list:nth-child(3) {
  margin-bottom: 20px;
}
.discovery__top-list .discovery__top-list-wrap-list:nth-child(1), .discovery__top-list .discovery__top-list-wrap-list:nth-child(2), .discovery__top-list .discovery__top-list-wrap-list:nth-child(4), .discovery__top-list .discovery__top-list-wrap-list:nth-child(5) {
  margin-right: 3.1666666667%;
}
.discovery__top-list .discovery__wrap-top-img {
  position: relative;
  padding-bottom: 72.9166666667%;
}
.discovery__top-list .discovery__wrap-top-img .discovery-top-img {
  border-radius: 30px;
}
.discovery__top-list .discovery_top-subtext,
.discovery__top-list .discovery_top-subtext_container,
.discovery__top-list .discovery_top-links-list {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.discovery_top-subtext {
  padding-top: 5.1282051282%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.discovery_top-subtext .discovery_top-subtext_container {
  width: 60.2409638554%;
  justify-content: center;
}
.discovery_top-subtext .discovery_top-subtext_container :first-child {
  padding-right: 8px;
}
.discovery_top-subtext .discovery_top-links-list {
  width: 28.9156626506%;
  justify-content: space-between;
  align-items: center;
}
.discovery_top-subtext .discovery_top-links-list .discovery_top-link {
  padding-left: 5px;
}

.discovery_top-subtext_container {
  font-size: calc(12px + 0.2vw);
  line-height: calc(14px + 0.2vw);
  letter-spacing: 0.48px;
}
.discovery_top-subtext_container :last-child {
  font-weight: 700;
  font-size: calc(14px + 0.2vw);
  line-height: calc(14px + 0.2vw);
}

.discovery-top_link {
  padding-top: 5.25%;
  margin-bottom: 4.5833333333%;
}

.faq_title {
  align-items: flex-start;
  margin-bottom: 6.0833333333%;
}

.faq__list {
  width: 100%;
}
.faq__list > * {
  margin-bottom: 6.4166666667%;
}
.faq__list :last-child {
  margin-bottom: 0;
}
.faq__list .faq__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(12px + 0.5vw);
  line-height: calc(14px + 0.5vw);
  letter-spacing: 0.48px;
}
.faq__list .faq__item-link {
  position: relative;
  padding-bottom: 1.4166666667%;
  width: 2.3333333333%;
  min-width: 14px;
  min-height: 8.5px;
}
.footer_container {
  color: #2f2f2f;
}

.footer__main {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10.4166666667%;
  justify-content: space-between;
  letter-spacing: 0.48px;
}
.footer__main .footer__socials {
  width: 15.8333333333;
}
.footer__main .footer__socials .footer__join-text {
  padding-top: 19.1666666667%;
  font-size: calc(10px + 0.7vw);
  line-height: calc(10px + 0.7vw);
}
.footer__main .footer__socials-list {
  display: flex;
  justify-content: space-between;
  padding-top: 8.3333333333%;
  width: 50%;
}
.footer__main .footer__new-reg {
  width: 37.5%;
}
.footer__main .footer__new-reg * {
  margin-bottom: 3.3333333333%;
}
.footer__main .footer__new-reg .footer__new-reg-title {
  font-size: calc(16px + 1vw);
  line-height: 29px;
}
.footer__main .footer__new-reg .footer__new-reg-sub {
  font-size: calc(10px + 0.35vw);
  line-height: calc(10px + 1vw);
}
.footer__main .footer__new-reg .footer__new-reg-mail button {
  background-color: #2f2f2f;
  font-size: 14px;
  width: 39%;
  height: 16.6666666667%;
  min-height: 40px;
  border-radius: 20px;
  transition: 0.5s;
}
.footer__main .footer__new-reg .footer__new-reg-mail a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.footer__main .footer__new-reg .footer__new-reg-mail input {
  border-radius: 20px;
  background: #f6f6f6;
  border: none;
  height: 40px;
  width: 60%;
}
.footer__main .footer__new-reg .footer__new-reg-mail input::-moz-placeholder {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 0.2vw);
  color: rgba(47, 47, 47, 0.36);
  padding: 50px 169px 12px 20px;
}
.footer__main .footer__new-reg .footer__new-reg-mail input:-ms-input-placeholder {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 0.2vw);
  color: rgba(47, 47, 47, 0.36);
  padding: 50px 169px 12px 20px;
}
.footer__main .footer__new-reg .footer__new-reg-mail input::placeholder {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 0.2vw);
  color: rgba(47, 47, 47, 0.36);
  padding: 50px 169px 12px 20px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: #2f2f2f;
}
.footer__links .footer__links-list {
  min-width: 40%;
}
.footer__links .footer__links-list .footer__links-item,
.footer__links .footer__links-list .footer__links-item-link {
  letter-spacing: 0.48px;
  font-size: calc(14px + 0.1vw);
  line-height: calc(14px + 0.1vw);
  color: #2f2f2f;
  margin-bottom: 8.3333333333%;
}
.footer__links .footer__links-list .footer__links-item :hover,
.footer__links .footer__links-list .footer__links-item-link :hover {
  text-decoration: underline;
}
.footer__links .footer__links-list .footer__links-item:first-child {
  margin-bottom: 15.2777777778%;
  font-size: calc(18px + 0.1vw);
  line-height: calc(18px + 0.1vw);
}

.footer__author {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3.9166666667%;
  letter-spacing: 0.48px;
  align-items: center;
}
.footer__author .footer__author-produced {
  font-size: calc(11px + 0.1vw);
  line-height: calc(11px + 0.1vw);
}
.footer__author .footer__author-name span {
  font-size: calc(13px + 0.1vw);
  line-height: calc(13px + 0.1vw);
}
.footer__author .footer__author-name span:nth-child(2n) {
  color: #ff7f96;
}

@media (min-width: 1920px) {
  .first-page__main .first-page__main-inner .first-page__main-sub {
    width: 100%;
    font-size: calc(14px + 0.3vw);
    line-height: calc(23px + 0.3vw);
  }
}
@media (max-width: 1000px) {
  .artists__names-description {
    padding-top: 4.1666666667%;
    padding-left: 5px;
    max-width: 50%;
  }
  .artists__names-prof-title-second {
    margin-bottom: 3%;
  }
  .artists__names-description-second {
    padding-top: 12%;
    width: 50%;
  }
  .features_container .features__main-list {
    width: 48%;
  }
}
@media (max-width: 950px) {
  .footer__main .footer__new-reg {
    width: 45%;
  }
  .footer__links {
    width: 25%;
  }
  .footer__main .footer__new-reg .footer__new-reg-mail button {
    width: 30%;
  }
}
@media (max-width: 900px) {
  .first-page__main {
    flex-wrap: wrap;
    height: 800px;
    justify-content: center;
  }
  .first-page__main-inner-img {
    width: 70%;
  }
  .first-page__main .first-page__main-inner {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .first-page__main .first-page__main-inner .first-page__main-sub {
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst {
    width: 30.0925925926%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    width: 45.5555555556%;
  }
  .first-page__main .first-page__main-inner .first-page__main-upper {
    padding-top: 5%;
  }
  .header__menu-logo {
    display: grid;
    grid-template-columns: 35% 55%;
    width: 50%;
    align-items: center;
    justify-content: end;
  }
  .header__menu-list-socials {
    width: 45%;
    grid-template-columns: 10% 10% 10% 60%;
  }
  .bg_artist_items:hover {
    transform: translateX(50%);
    transition: 1s 0.2s;
  }
}
@media (max-width: 874px) {
  .discovery__top-list .discovery__top-list-wrap-list:nth-child(3) {
    margin-right: 3.1666666667%;
  }
  .discovery__top-list .discovery__top-list-wrap-list:nth-child(4) {
    margin-right: 0;
  }
  .discovery__top-list .discovery__top-list-wrap-list:nth-child(2) {
    margin-right: 0;
  }
}
@media (max-width: 750px) {
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
    top: 10%;
    left: 85%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
    top: 6%;
    left: 70%;
  }
  .footer__main {
    flex-flow: column-reverse;
    align-items: center;
  }
  .footer__main .footer__new-reg {
    width: 90%;
    height: 150px;
    align-content: space-between;
  }
  .footer__main .footer__new-reg * {
    text-align: center;
  }
  .artists_flex-wrap,
.discovery__list_contanier {
    flex-wrap: nowrap;
    flex-flow: column;
    align-items: center;
  }
  .artists_flex-wrap .artists__names-list,
.discovery__list_contanier .discovery__item {
    width: 90%;
  }
  .artists__names-description {
    max-width: 90%;
    width: 90%;
    text-align: center;
  }
  ._artists__names__second,
.artists__names-description-second {
    padding-top: 5%;
    padding-right: 0;
    width: 90%;
    text-align: center;
  }
  .artists__names-description .artists__names-main {
    text-align: justify;
  }
  .artists__names-main-second {
    margin-bottom: 3%;
    text-align: justify;
  }
  .artists__names-item-link {
    display: flex;
    justify-content: center;
  }
  .artists__names-item-button-second {
    text-align: center;
    width: 80%;
  }
  .footer__links {
    width: 90%;
    text-align: center;
  }
  .footer__main .footer__socials {
    padding-top: 10px;
    align-items: center;
  }
  .footer__author {
    flex-flow: column;
  }
  .features_container {
    flex-flow: column-reverse;
    align-items: center;
    max-height: none;
  }
  .features_container :nth-child(2) {
    margin-bottom: 10px;
  }
  .features_container .features__visual,
.features_container .features__main-list {
    width: 90%;
    text-align: justify;
  }
}
@media (max-width: 600px) {
  .header__menu-list-socials {
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
  }
  .header__menu-list-socials .header__menu-button-inner {
    display: none;
  }
  .header__menu-logo {
    width: 90%;
    align-items: center;
    justify-content: end;
  }
  .discovery__top-list .discovery__top-list-wrap-list:nth-child(1) {
    margin-right: 0;
  }
  .discovery__top-list .discovery__top-list-wrap-list:nth-child(2) {
    margin-right: 0;
  }
  .discovery__top-list .discovery__top-list-wrap-list:nth-child(3) {
    margin-right: 0;
  }
  .discovery__top-list .discovery__top-list-wrap-list:nth-child(4) {
    margin-right: 0;
    padding-bottom: 20px;
  }
  .discovery__top-list .discovery__top-list-wrap-list:nth-child(5) {
    margin-right: 0;
    padding-bottom: 20px;
  }
  .discovery__top-list {
    width: 90%;
    margin: 0 auto;
  }
  .discovery_top-subtext {
    padding-top: 2%;
  }
}
@media (max-width: 650px) {
  .bg_artists_list .bg_artist_items {
    background-position: left;
  }
  .faq_title {
    align-items: center;
  }
}
@media (max-width: 550px) {
  .bg_artists_list {
    background: url(./img/BG_text.png) -10% no-repeat, url(./img/BG_green.png) bottom repeat-x;
    height: calc(135px + 10vw);
    background-size: auto 64.9122807018%, 100% 100%;
    position: relative;
  }
}
@media (max-width: 450px) {
  .header__menu-list-socials {
    display: none;
  }
}
@media (max-width: 430px) {
  .first-page__main-inner-img .first-page__main-imgfirst {
    top: 0;
    left: 10%;
    min-width: 80%;
    height: 60%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman {
    bottom: 0;
    left: 20%;
    min-width: 80%;
    height: 60%;
  }
  .first-page__main {
    min-width: 320px;
  }
  .first-page__main-inner-img {
    width: 100%;
  }
  .first-page__main-inner-img .first-page__main-imgfirst .first-page__main-imgfirst-inner {
    top: 10%;
    left: 0;
  }
  .first-page__main-inner-img .first-page__main-imgfirst-woman .first-page__main-imgfirst-inner {
    left: 20%;
    top: 80%;
  }
  .artists_container,
.features_container,
.discovery_container,
.faq_container {
    margin: 20% 0;
    padding: 0;
  }
  .discovery__basic_top {
    padding-top: 20%;
  }
  .discovery__link {
    margin-bottom: 0;
  }
  .discovery__list_contanier {
    margin-bottom: 0;
  }
  .discovery__catch-phrase {
    padding-top: 0;
  }
}/*# sourceMappingURL=style.css.map */